@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Raleway:wght@300;400;600;700&display=swap');
@import url('../node_modules/react-date-range/dist/styles.css');
@import url('../node_modules/react-date-range/dist/theme/default.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto&display=swap');

:root {
  --bg-primary-color: hsl(27, 100%, 71%);
  --bg-color-white: hsl(0, 0%, 100%);
  --text-white: hsla(0, 0%, 100%, 0.758);
  --text-dark: hsl(240, 4%, 41%);
  ;
  --text-danger: red;
  --text-danger-hover: hsl(0, 96%, 41%);
  --text-blue: rgb(18 41 244);
  --bg-danger: red;
  --bg-dark: grey;
  --text-success: #1cca27;
}

li {
  list-style: none !important;
}

*,
*::after,
*::before {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0 !important;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

button:active,
button:hover {
  outline: none;
  border: none
}
a:hover {
  color: none;
}

input {
  outline: none !important;
}

.toggleMenu {
  right: -100%;
  transition: all 1s ease;
}

.toggleMenu.show {
  right: 0;
}

input::placeholder {
  /* Firefox */
  color: var(--text-dark);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FECD70;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFAE6D;
}

input:focus {
  box-shadow: none
}

@media screen and (min-width: 992px) {
  .hideOnDesktop {
    display: none !important;
  }

}
@media screen and (max-width: 991px) {
  .hideOnMobile {
    display: none !important;
  }
}

.list-group-item {
  border: none,
}

.card-config {
  min-width: 150px;
  margin: auto;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

/* code */
@media screen and (max-width: 481px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.bannerCss {
  margin-top: 52px;
}

@media screen and (min-width: 992px) {
  .bannerCss {
    margin-top: 0;
  }
}

.color-primary {
  color: var(--primary-color)
}

.color-success {
  color: var(--text-success)
}

.color-blue {
  color: var(--text-blue)
}

.color-danger {
  color: var(--text-danger)
}

.color-danger:hover {
  color: var(--text-danger-hover);
  font-weight: 400;
  text-decoration: underline
}

.custom-link-hover:hover {
  color: red !important;
  text-decoration: underline;
  display: inline-block
}


.carouselconfig {
  height: 20vh;
}

.carouselconfig.active {
  border: none !important
}

.carousel-inner::after {
  content: "" !important;
  display: none !important;
}

.khongGianConfig {
  width: 100%;
}

@media (min-width: 992px) {
  .khongGianConfig {
    width: 50%;
  }
}

/* .banner {
  height: 25vh;
}

@media (min-width: 992px) {
  .banner {
    height: 50vh;
  }
} */

@media (min-width: 992px) {
  .carouselconfig {
    /* height: 50vh !important;
      */
    aspect-ratio: '2/1';
    height: 50vh;
    margin-bottom: 10px;
  }
}

footer {
  margin-bottom: 58px;
}


@media (min-width: 992px) {
  footer {
    margin-bottom: 0;
  }
}

.cart-container {
  width: 90vw;
}


.cart-item-title {
  font-size: 18px;
}

.cart-item-price {
  font-size: 13px;
  display: inline-block;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .cart-container {
    width: 70vw
  }

  .cart-title {
    font-size: 24px;
  }

}

/* Info */
.info__article {
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  ;
}

.info__section {
  display: flex;
}

.info__image {
  position: relative;
  flex: 1;

}


.info__content {
  font-family: 'Poppins', sans-serif;
  margin-left: 5px;
  flex: 3;
}

.info__content h2 {
  font-family: 'Raleway', sans-serif;
  ;
}

.info__content p {
  font-size: 13px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

/* Menu */
.menu__article {
  margin-bottom: 10px;
  padding: 5px;
}

.menu__article:last-child {
  margin-bottom: 0px;

}

.menuItem__article {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;

  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.menuItem__article:last-child {
  border-bottom: none;
  margin-bottom: 10px;

}

.menuItem__image {
  width: 30%;
}

@media (min-width: 992px) {
  .menuMobile {
    display: none;
  }
}

@media (min-width: 992px) {
  .info__image {
    margin: 0 60px;
  }
}

.menuItem__content {
  width: 70%;
}

/* Cart */
.cartItem__article {
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 10px;
}

.cartItem__image {
  /* width: 30%; */
  padding: 5px;
}

@media (min-width: 992px) {
  .cartItem__image {
    /* width: 20%; */
  }
}

.cartButtonGroup {
  width: 75%;
  margin: 0 auto;
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}

.cartItem__image img {
  border-radius: 10px;
}

.cartItem__content {
  width: 60%;
  padding: 5px;
}



.cartItem__content p {
  margin-bottom: 10px;
}

.button {
  outline: none;
  color: var(--text-white);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all ease .25s;
}

.button:hover {
  opacity: 0.9;
}

.button--delete {
  background-color: #EB1D36;
  color: #fff;
  padding: 6px 15px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.button--orange {
  background-color: #f7a76c;
  color: #fff;
  padding: 6px 15px;
  border-radius: 10px;
}

.checktout__article {
  width: 90vw;
  /* height: 100px; */
  margin: 0 auto;
  position: fixed;
  top: 76px;
  /* left: (calc(100vw - 90vw) / 2); */
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid red;
}

@media (min-width: 992px) {
  .checktout__article {
    width: 40vw;
    margin: 0 calc(100vw - 40vw);
  }
}

/* Topping Css */
.toppingCss {
  height: 100vh;
  width: 98vw;
  background-color: #fff;
  overflow-y: scroll;
}

.toppingTitleCss {
  top: 0;
  background-color: #fff;
  /* width: 50vw; */
  width: 98vw;
  box-shadow: 0px 5px 5px #aaaaaa;

}

.toppingButtonGroup {
  /* width: 50vw; */
  width: 98vw;
  box-shadow: 0px -5px 5px #aaaaaa;
  z-index: 99;
  background-color: #fff;
}

.cartModalCss {
  height: 100vh;
  width: 98vw;
  background-color: #fff;
}

.cartModalTitle {
  width: 100vw;
}

.cardModalGroupButton {
  width: 98vw;
  bottom: 4px;

}

@media (min-width: 992px) {
  .toppingCss {
    width: 50vw
  }

  .toppingTitleCss {
    width: 50vw
  }

  .toppingButtonGroup {
    width: 50vw;
  }

  .cartModalCss {
    width: 50vw;
  }

  .cardModalGroupButton,
  .cartModalTitle {
    width: 50vw;
  }

}

.loading_contain {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.422);
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@import url('./header.css');
@import url('./nav');
@import url('./banner');
@import url('./footer');
@import url('./card');
@import url('./menuPhoto.css');
@import url('./button.css');
@import url('./form.css');
@import url('./scrollItems.css');
@import url('./media.css');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('./layoutProfile.css');
@import url('./slider.css');