.info__image {
    /* width: 250px; */
    /* height: 250px; */
    position: relative;
}
.info__content {
    margin-left: 10px;
    flex: 1;
}
.info__content p {
    font-size: 13px;
}
@media screen and (min-width: 769px) {
    .info__image {
        width: 20%;
    }
    .info__content p {
        font-size: 16px;
    }
}