@media (min-width: 576px) {
    .card-item {
        flex: 1 1 49%;
    }
}



@media (min-width: 992px) {
    .card-item {
        flex: 1 1 30%;
    }
}

@media (max-width: 767px) {
    .thumb-3 .box {
        height: 100%;
    }

    .thumb-3 .box.img1 {
        height: 100%;
    }
}

@media (max-width: 959px) {
    .hideonmobile {
        display: block;
    }

    .ul .slick-dots {
        display: none;
    }
}

@media (min-width: 992px) {
    .showOnDesktop {
        display: block !important;
    }

    .hideOnDeskTop {
        display: none;
    }
}

@media (min-width: 960px) {
    .hideonmobile {
        display: none;
    }
}

@media (min-width: 960px) {
    .menuRecipe.active {
        margin: 0 72px;
    }
}

@media (min-width: 1140px) {
    .menuRecipe.active {
        margin: 0 172.5px;
    }
}

@media (min-width: 1320px) {
    .menuRecipe.active {
        margin: 0 172.5px;
    }
}

@media (max-width: 959px) {
    .hideOnMB {
        display: none !important;
    }
}

@media (min-width: 960px) {
    .hideOnMB {
        display: flex !important;
    }
}

@media (max-width: 767px) {
    .hideOnMobile {
        display: none !important;
    }
}