@media (min-width: 576px) {
    .card-item {
        /* flex: 1 1 100%; */
        /* width: 100%; */
    }
}

@media (min-width: 768px) {
    .card-item {
        /* flex: 1 1 49%; */
        width: 49%;
    }
}


@media (max-width: 991px) {
    .hideonmobile {
        display: block;
    }

    .ul .slick-dots {
        display: none;
    }
}

/* @media (min-width: 992px) {
    .hideOnDesktop {
        display: none !important;
    }

    .showOnDesktop {
        display: flex !important;
    }

    .card-item {
        width: 19%;
    }
} */