

.thumb-map iframe {
    height: 100%;
    padding: 2px;
    transition: 0.5s linear;
}

.thumb-9 {
    display: grid;
    cursor: pointer;
    grid-template-areas: 
        'img1 img2 img3'
        'img4 img5 img6'
        'img7 img8 img9'
}

.thumb-9 .box {
    width: 100%;
    height: 95px;
    padding: 2px;
    transition: 0.5s linear;
}



.thumb-9 .box img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.thumb-9 .box.img1 {
    grid-area: img1;
    /* height: 500px; */
}

.thumb-9 .box.img2 {
    grid-area: img2;
}

.thumb-9 .box.img3 {
    grid-area: img3;
}

.thumb-9 .box.img4 {
    grid-area: img4;
}

.thumb-9 .box.img5 {
    grid-area: img5;
}

.thumb-9 .box.img6 {
    grid-area: img6;
}

.thumb-9 .box.img7 {
    grid-area: img7;
}

.thumb-9 .box.img8 {
    grid-area: img8;
}

.thumb-9 .box.img9 {
    grid-area: img9;
}

@media (min-width: 992px) {
    .thumb-9 .box {
        width: 100%;
        /* height: 250px; */
        height: 212px;
        padding: 5px;
        transition: 0.5s linear;
    }
}


.thumb-6 {
    display: grid;
    cursor: pointer;
    grid-template-areas: 
        'img1 img1 img2'
        'img1 img1 img3'
        'img4 img5 img6'
}

.thumb-6 .box {
    width: 100%;
    /* height: 250px; */
    padding: 2px;
    transition: 0.5s linear;
}

.thumb-6 .box.img1 {
    grid-area: img1;
    height: 190px;
}

@media (min-width: 992px) {
    .thumb-6 .box {
        padding: 5px;
        transition: 0.5s linear;
    }

    .thumb-6 .box.img1 {
        grid-area: img1;
        height: 400px ;
    }
}



.thumb-6 .box img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}



.thumb-6 .box.img2 {
    grid-area: img2;
}

.thumb-6 .box.img3 {
    grid-area: img3;
}

.thumb-6 .box.img4 {
    grid-area: img4;
}

.thumb-6 .box.img5 {
    grid-area: img5;
}

.thumb-6 .box.img6 {
    grid-area: img6;
}

.thumb-4 {
    display: grid;
    cursor: pointer;
    grid-template-areas: 'img1 img2'
        'img3 img4'
}

.thumb-4 .box {
    width: 100%;
    height: 166px;
    padding: 2px;
    transition: 0.5s linear;
}

@media (min-width: 992px) {
    .thumb-4 .box {
        height: 322px;
        padding: 5px;
    }
}



.thumb-4 .box.img1 {
    grid-area: img1;
}

.thumb-4 .box.img2 {
    grid-area: img2;
}

.thumb-4 .box.img3 {
    grid-area: img3;
}

.thumb-4 .box.img4 {
    grid-area: img4;
}


.thumb-3 {
    display: grid;
    cursor: pointer;
    grid-template-areas: 
        'img1 img1 img2'
        'img1 img1 img3'
}
.thumb-3 .box.img1 {
    grid-area: img1;
}

.thumb-3 .box {
    transition: 0.5s linear;
    padding: 1px
}

@media (min-width: 992px) {
    .thumb-3 .box {
        padding: 3px;
    }
}

.thumb-3 .box img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}



.thumb-3 .box.img2 {
    grid-area: img2;
}

.thumb-3 .box.img3 {
    grid-area: img3;
}


.thumb-5 {
    display: flex;
    flex-wrap: wrap;
    /* cursor: pointer; */
    /* grid-template-areas: 
        'img1 img1 img2'
        'img3 img4 img5' */
}


.thumb-5 .box {
    height: 345px;
    width: 345px;
    transition: 0.5s linear;
    padding: 1px
}

@media (min-width: 992px) {
    .thumb-5 .box {
        padding: 3px;
    }
}

.thumb-5 .box img {
    object-fit: cover;
    aspect-ratio: 1/1;
}

.thumb-5 .box.img1 {
    grid-area: img1;
    width: 50%;
    height: 50%;
}

.thumb-5 .box.img2 {
    width: 50%;
    height: 50%;
}

.thumb-5 .box.img3 {
    grid-area: img3;
    width: 33.33%;
    height: 33.33%
}
.thumb-5 .box.img4 {
    grid-area: img4;
    width: 33.33%;
    height: 33.33%
}

.thumb-5 .box.img5 {
    grid-area: img5;
    width: 33.33%;
    height: 33.33%
}