.nav {
   height: 48px;
   display: flex;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 99;
    align-items: center;
    background-color: var(--bg-primary-color);
}
/* @media screen and (max-width: 991px) {
    .nav.active {
        position: fixed;
        right: 0;
        top: 0;
        left: 0;
        z-index: 99;
    }
} */

.navItem {
    /* flex: 1; */
}
.navItem:nth-child(3) {
    flex: 1;
}
.navForm {
    display: flex;
    border: 1px solid var(--bg-primary-color);
    width: 100%;
    position: relative;
    border-radius: 10px;
    transition: all .25s ease-in-out;
}

.navForm input {
    border: none;
    border-radius: 10px;
    font-size: 13px;
    width: 100%;
    color: #000;
    padding: 5px !important;
    /* background-color: transparent; */
}
.navForm > button {
    background-color: var(--bg-primary-color);
    padding: 5px !important;
    border: none;
    color: var(--text-white);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.navForm > button:hover,.navForm > button:focus,.navForm > button:visited {
    border: none;
    outline: none;
}
.ctaButton {
    background-color: var(--bg-primary-color);
    border: 1px solid var(--text-white) !important;
    color: var(--text-white);
    transition: all .25s ease-in-out;
    font-size: 14px;
    letter-spacing: 1px;
}
.ctaButton:hover {
    background-color: #fff;
    color: var(--bg-primary-color);
}
.customHover {
    transition: all .25s ease-in-out;
}
.customHover:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
transform: scale(1.05);}