.group .list {
  width: 100%;
  overflow: scroll;
  /* IE scroll 숨김 */
  -ms-overflow-style: none;
}

.list::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

ul::-webkit-scrollbar {
  width: 3px !important;
  display: none;
}

/* Track */
ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
ul::-webkit-scrollbar-thumb {
  background: #FECD70;
}

/* Handle on hover */
ul::-webkit-scrollbar-thumb:hover {
  background: #FFAE6D;
}